<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:label="XyDesk"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.XyDesk"
        android:allowBackup="false"
        android:usesCleartextTraffic="false">
        <activity android:name=".ui.BrowserActivity" android:exported="false" android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SessionActivity"
            android:exported="false"
            android:theme="@style/Theme.XyDesk.Session"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <service
            android:name=".ui.SessionKeep"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>
</manifest>
